<html>
<head>
  <title>{{ matrix.name }} Control Interface</title>
  <link rel="stylesheet" media="screen" href="../static/css/segment7.css" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">

  // Create the drop-down lists for assigning channels.
  // The argument is the JSON from the API.
  let createChannelControls = function(matrixObj) {
    for (let out = 0; out < matrixObj.outputs; out++) {
      // Create a drop-down for this output channel.
      let newSelect = document.createElement('select');
      newSelect.setAttribute('class', 'target');
      newSelect.setAttribute('id', 'output_' + (out + 1).toString());
        
      // Create an option for each input channel.
      for (let inp = 0; inp < matrixObj.inputs; inp++) {
        let option = document.createElement('option');
        option.setAttribute('value', inp + 1);
        // Auto-select the option if it is the assigned input channel.
        if (matrixObj.channels[out] == inp) {
          option.setAttribute('selected', 'selected');
        }
        option.innerText = (inp + 1).toString();
        // Add the option to the drop-down.
        newSelect.append(option);

      }
      // Add the drop-down list to the div.
      $('#channel_controls').append(newSelect);
      createChannelHandler();
    }
    
  }

  // Create handlers for the drop-down lists created by createChannelControls.
  let createChannelHandler = function() {
    // This handler is called when a new input channel is selected.
    $( ".target" ).change(
      function() {
        let field = $(this).attr('id');
        let input = $(this).val();
        let output = field.split('_')[1];
        console.log("Setting output", output, "to input", input);
        
        // Send PUT request.
        $.ajax({
          url: "output/" + output,
          method: 'PUT',
          data: 'input=' + input
        }) 
        .done( 
          function(response) {
            console.log( field, "==", input );
          }
        )
        .fail(
          function(data, textStatus, xhr) {
            alert('PUT request failed')
            console.log("error", data.status, xhr);
          }

        )
        ; 
      }
    );
  }

  // When the document loads, create the channel controls
  // from the current state of the matrix driver.
  $(document).ready(function(){

    // Get the current state of the matrix
    let url = '/outputs';
    $.getJSON(url, function(response) {
      console.log(response);
      createChannelControls(response);
    })
    .fail(
      function(data, textStatus, xhr) {
        alert("getJSON failed");
        console.log('error', data.status, xhr);
      }
    );
  });

  </script>
</head>
<body>

<div id="channel_controls">
</div>
</body>
</html>
