<html>
<head>
  <title>{{ matrix.name }} Control Interface</title>
  <link rel="stylesheet" media="screen" href="../static/css/segment7.css" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">

  let getMatrixJson  = function() {
    let url="outputs"
    $.getJSON(url, function(response) {
      console.log(response);
      alert(response['outputs']);
    });
  }

  // When the document loads, set up handlers
  // and get the JSON representation of the matrix from the API.
  $(document).ready(function(){
    // Handler for the channel fields.
    $( ".target" ).change(
      // Send a PUT request to the API.
      function() {
        let field = $(this).attr('id');
        let input = $(this).val();
        let output = field.split('_')[1];
        console.log("input=" + input);
        console.log("output=" + output);
        $.ajax({
          url: "output/" + output,
          method: 'PUT',
          data: 'input=' + input
        }) 
        .done( 
          function(response) {
            alert( field + "==" + input );
          }
        ); 
      }   
    );

    getMatrixJson();
  });

  </script>
</head>
<body>

{% for output in range(1, matrix.outputs+1) %}
<select class="target" id="output_{{output}}">
{% for input in range(1, matrix.inputs+1) %}
   <option value="{{input}}"{% if matrix.read(output-1)==input-1 %} selected="selected"{% endif %}>{{input}}</option>
{% endfor %}
</select>
{% endfor %}
</body>
</html>
