[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Abstract dependancies of this package should be maintained in setup.cfg.
# Concrete dependancies should be defined here.
# see, https://packaging.python.org/discussions/install-requires-vs-requirements/
hdmi_matrix_controller = {editable = true, path = "."}

[dev-packages]

[requires]
# Can define a specific verions of Python.

[pipenv]
allow_prereleases = true

[scripts]
build = "python setup.py sdist bdist_wheel"
publish = "twine upload -r testpypi dist/*"
